body{
    background-color: rgba(100, 202, 155, 0.8);
}

.navBarContainer1 {
    background-color: rgba(95, 63, 160, 0.6);
    box-shadow: 5px 5px 10px rgb(128, 123, 123);
}

.searchButton{
    background-color: rgb(78, 77, 139);
}

.navbar{
    z-index: 2;

  }

  .nav-link:hover{
   background-color: rgba(95, 63, 160, 0.2);
   

  }